{
    "jobId": "JOBID_PLACEHOLDER",
    "token": "TOKEN_PLACEHOLDER",
    "taskId": "TASKID_PLACEHOLDER",
    "recordingId": "12345678",
    "taskPayload": {},
    "applicationId": "APPID_PLACEHOLDER",
    "veritoneApiBaseUrl": "https://api.veritone.com"
}