{
    "graphql": {
           "baseUri":"URI_PLACEHOLDER"
       },
	"veritone-api": {
		"token": "TOKEN_PLACEHOLDER",
		"baseUri": "URI_PLACEHOLDER",
		"maxRetry": 3,
		"retryIntervalMs": 5000
	},
	"aws": {
		"apiVersion": "2016-06-27",
		"accessKeyId": "AWS_ACCESS_KEY_ID_PLACEHOLDER",
		"secretAccessKey": "AWS_ACCESS_KEY_SECRET_KEY_PLACEHOLDER",
		"region": "us-west-2"
	},
	"framesPerSecond": 1,
	"minConfidence": 50
}
